@charset "UTF-8";
@font-face {
  font-family: OS-Bold;
  src: url(../fonts/OS-Bold.ttf); }
@font-face {
  font-family: OS-Semibold;
  src: url(../fonts/OS-Semibold.ttf); }
@font-face {
  font-family: OS;
  src: url(../fonts/OS.ttf); }
a {
  color: inherit; }

/*@include background-image(center,100% auto);*/
body {
  min-height: 100vh;
  font-size: 15px;
  color: #fff;
  font-family: OS;
  background: #161b1e;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

section, header, footer, menu {
  position: relative;
  max-width: 100%;
  display: block;
  margin: 0px;
  padding: 0px; }

[class*='_inline-block'] {
  display: inline-block; }

.container {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  max-width: 73.9vw;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container:after {
  content: "";
  display: table;
  clear: both; }

menu {
  background: rgba(0, 0, 0, 0.3); }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #161b1e;
  width: 100%;
  z-index: 10; }

menu ul {
  padding: 0px;
  margin: 0px;
  display: flex; }

.line.uk-active {
  background: rgba(0, 0, 0, 0.4); }

.line.uk-active .numb {
  background: rgba(255, 255, 255, 0.1); }

.line {
  display: block;
  padding: 0px;
  color: #fff; }

.line:hover {
  background: rgba(0, 0, 0, 0.4); }

.line:hover .numb {
  background: rgba(255, 255, 255, 0.1); }

.numb, .item {
  padding: 5px 10px;
  display: inline-block;
  vertical-align: middle; }

.item {
  padding: 5px 20px 5px 10px; }

.numb {
  background: rgba(255, 255, 255, 0.1); }

.red {
  color: #f9243b; }

.blue {
  color: #4ed9b2; }

.green {
  color: #6f9e1a; }

.box_flex-wrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start; }

.box_flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between; }

.uk-switcher {
  width: 42%;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.col_dop {
  width: 28.2%;
  background: none; }

.line_block {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 10px; }

.col_left, .col_right {
  width: 33%; }

.col_center {
  width: 33%; }

.diagram {
  width: 8vw;
  height: 8vw; }

.link {
  display: inline-block;
  vertical-align: top;
  margin: 5px 3px;
  padding: 0 5px;
  background: rgba(255, 255, 255, 0.1); }

.but {
  background: none;
  display: block;
  width: 90%;
  margin: 5px 0;
  padding: 5px 10px; }

.but:hover {
  border: 1px #fff solid !important;
  cursor: pointer; }

.but.green {
  border: 1px #6f9e1a solid;
  color: #6f9e1a; }

.but.red {
  border: 1px #f9243b solid;
  color: #f9243b; }

.h1-item {
  padding: 5px 10px;
  color: #4ed9b2;
  margin: 10px 0; }

ul.col_dop {
  padding-left: 0px !important; }

.content_text {
  font-size: 15px;
  padding: 5px 10px;
  line-height: 25px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.project_box {
  font-size: 0px;
  text-align: center;
  margin-right: 10px;
  width: 156px;
  height: 156px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px rgba(255, 255, 255, 0) dotted; }

.project_box.activ {
  text-align: left;
  background: none;
  border: 1px rgba(255, 255, 255, 0.5) dotted; }

.vert_line {
  width: 0px;
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.project_box .content_text {
  display: inline-block;
  width: 100%;
  vertical-align: middle; }

.projects .project_box {
  margin: 5px; }

.box_flex-wrap.projects {
  margin: -5px; }

.project_box.case {
  width: 381px;
  height: auto;
  text-align: left; }

.project_box.case .content_text {
  padding: 4px;
  font-size: 0px; }

.project_box.case .h1-item {
  color: #4ed9b2;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: space-between; }

.project_box.case .img {
  position: relative;
  height: 215px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; }

.project_box.case .img-hover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(22, 27, 30, 0.2); }

.project_box.case .link {
  font-size: 15px;
  background: rgba(0, 0, 0, 0.4);
  margin: 4px; }

/*15.83px = 1vw*/
.nav {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.3);
  width: 12vw;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.nav ul {
  padding: 0px;
  margin: 0px; }

.nav ul li a {
  color: rgba(255, 255, 255, 0.3); }

.nav ul li a.active {
  color: rgba(255, 255, 255, 0.6); }

.nav ul li a:hover {
  text-decoration: none; }

.nav ul li:first-child {
  margin-left: 0px;
  border: none; }

.nav ul li {
  margin-left: 4px;
  border-left: 1px rgba(255, 255, 255, 0.3) dashed;
  display: block;
  white-space: nowrap;
  /* ╨Ю╤В╨╝╨╡╨╜╤П╨╡╨╝ ╨┐╨╡╤А╨╡╨╜╨╛╤Б ╤В╨╡╨║╤Б╤В╨░ */
  overflow: hidden;
  /* ╨Ю╨▒╤А╨╡╨╖╨░╨╡╨╝ ╤Б╨╛╨┤╨╡╤А╨╢╨╕╨╝╨╛╨╡ */
  text-overflow: ellipsis;
  /* ╨Ь╨╜╨╛╨│╨╛╤В╨╛╤З╨╕╨╡ */ }

.uk-form-select i {
  padding: 5px 10px;
  display: inline-block;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.1); }

.uk-form-select span {
  padding: 3px 10px 2px 10px;
  display: inline-block;
  vertical-align: middle;
  background: rgba(255, 255, 255, 0.1); }

select {
  color: #fff !important;
  background: rgba(255, 255, 255, 0.1) !important; }

/*# sourceMappingURL=style.css.map */
